.header-navbar {
  background-color: transparent;
  a {
    color: #eeeeee;
  }
  &--modifier {
    background-color: rgba(0, 0, 0, 0.7);
    .navbar-expand-lg .navbar-nav .nav-link {
      padding: 15px;
      transition: 0.25s;
    }
  }
}



