@media (max-width: 1200px) {
  .carousel-caption {
    h3 {
      font-size: 24px;
    }
    p {
      padding-top: 0;
      font-size: 16px;
    }
  }
}
@media (max-width: 992px) {
  .page-choose-col-hidden {
    display: none;
  }
}
@media (max-width: 768px) {
  .header-navbar {
    background-color: rgba(0, 0, 0, 0.9);
  }
  .navbar-expand-md .navbar-nav .nav-link {
    padding: 15px;
  }
}
@media (max-width: 576px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (max-aspect-ratio: 1920/1200) {
  .carousel-item__image {
    display: flex;
    justify-content: center;
    img {
      max-width: none;
      width: auto !important;
      height: 100vh;
    }
  }
}